* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}


.navbar {
    background: #be5e5e;    
    height: 80;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.navbar__logo {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
    font-size: 2rem;
}

.navbar__logo:hover {
    color: #70c3fa;
    transition: all 0.3s ease;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #70c3fa;
    transition: all 0.3s ease;
}

.navbar__icon {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}
.navbar__icon:hover {
    color: #70c3fa;
    transition: all 0.3s ease;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

/* .button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #833ab4;
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    color: #fff;
    transition: all 0.3s ease;
} */

body{
    background-color: #DFDBE5;
}

/* About section */

.main {
    padding: 10rem 0;
    margin-bottom: 200px;
}
  
.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}
  
.main__content {
    width: 100%;
}

.about__header {
    justify-content: center;
    align-items: center;
    color: #777777;

}

.me {
    border-radius: 50%;
    max-width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 15px #888888;
}
/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1300px;
    margin: 0px auto 300px;

    
}
.timeline h1 {
    z-index: 1;
    background-color: #777777;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}
  
  /* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 30%;
    bottom: 0;
    left: 10%;
    margin-left: -3px;
}
  
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 90%;
}
  
  /* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #333333;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
  
  /* Place the container to the right */
.right {
    left: 10%;
}
  
  /* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}
  
  /* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}
  
  /* The actual content */
.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}
  
/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }
  
    /* Full-width containers */
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
  
    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
        left: 15px;
    }
  
    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}





@media screen and (max-width: 480px) {
    .main__img--card {
      width: 250px;
      height: 250px;
    }
  
    .fa-users,
    .fa-layer-group {
      font-size: 4rem;
    }
  
    .main__content h1 {
      font-size: 2rem;
      margin-top: 3rem;
    }
    .main__content h2 {
      font-size: 2rem;
    }
  
    .main__content p {
      margin-top: 2rem;
    }
  
    .main__btn {
      padding: 12px 36px;
      margin: 2.5rem 0;
    }
  }

/* Projects list */
.services {
    position: static;
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10rem 0;
}

.services h1 {
    z-index: 1;
    background-color: #777777;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 5rem;
    font-size: 2.5rem;
}

.services__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
  
.services__card {
    margin: 10px;
    height: 425px;
    width: 300px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background: #ffffff;
    transition: 0.3s ease-in;
}

.services__card h2 {
  text-align: center;
  color: #131313;
}

.services__card p {
  text-align: center;
  margin-top: 24px;
  font-size: 20px;
  color: #131313;
}

.services__btn {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.services__card button {
  color: #fff;
  padding: 14px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #131313;
  font-size: 1rem;
}

.services__card button:hover {
  cursor: pointer;
}

.services__card:hover {
  transform: scale(1.075);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.services__card:nth-child(1) {
    background: linear-gradient( rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6) ), url('images/bestbuy.jpg') no-repeat center center;
    background-size: cover;
    text-decoration: none;
    box-shadow: 0px 0px 15px #888888;
}
.services__card:nth-child(2) {
    background: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) ), url('images/icbc.jpg') no-repeat center center;
    background-size: cover;
    text-decoration: none;
    box-shadow: 0px 0px 15px #888888;
}
.services__card:nth-child(3) {
    background: linear-gradient( rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7) ), url('images/me.jpg') no-repeat center center;
    background-size: cover;
    text-decoration: none;
    box-shadow: 0px 0px 15px #888888;
}
.services__card:nth-child(4) {
    background: linear-gradient( rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4) ), url('images/fpga.jpg') no-repeat center center;
    background-size: cover;
    text-decoration: none;
    box-shadow: 0px 0px 15px #888888;
}
.services__card:nth-child(5) {
    background: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) ), url('images/documents.jpg') no-repeat center center;
    background-size: cover;
    text-decoration: none;
    box-shadow: 0px 0px 15px #888888;
}
.services__card:nth-child(6) {
    background: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) ), url('images/email.jpg') no-repeat center center;
    background-size: cover;
    text-decoration: none;
    box-shadow: 0px 0px 15px #888888;
}
.services__card:nth-child(7) {
    background: linear-gradient( rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4) ), url('images/wikipedia.jpg') no-repeat center center;
    background-size: cover;
    text-decoration: none;
    box-shadow: 0px 0px 15px #888888;
}
.services__card:nth-child(8) {
    background: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) ), url('images/WIP.jpg') no-repeat center center;
    background-size: cover;
    text-decoration: none;
    box-shadow: 0px 0px 15px #888888;
}

@media screen and (max-width: 1300px) {
    .services__wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .services {
        margin-top: 750px;
    }
}
  
@media screen and (max-width: 768px) {
    .services__wrapper {
        grid-template-columns: 1fr;
    }
    .services {
        margin-top: 1600px;
    }
}
  